<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            基站编号：<input type="text" name="resId"/>
                        </li>

                        <li>
                            代维驻点编号：
                            <input type="text" name="stagId"/>
                        </li>
                        <li>
                            状态：
                            <!--<input type="text" name="taskStatus"/>-->
                            <select name="taskStatus">
                                <option></option>
                                <option >未巡检</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="batchDistributeResource()" shiro:hasPermission="system:taskinfo:add">
            <i class="fa fa-plus"></i> 批量分配
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="system:taskinfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:taskinfo:add')}]];
    var removeFlag = [[${@permission.hasPermi('system:taskinfo:remove')}]];
    var prefix = ctx + "system/taskinfo";
    var datas = [[${@dict.getType('sys_guangdong_city')}]];

    function distributeResource(id) {
        url = $.table._option.createUrl.replace("{id}", id);
        $.modal.open("分配资源", url);
    }
    function batchDistributeResource() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要为这" + rows.length + "个基站分配驻点吗?", function() {

            var data = { "ids": rows.join() };
            var url = $.table._option.batchAddUrl.replace("{id}", data.ids);
            $.modal.open("分配资源", url);
        });

    }
    function remove(resId,stagId) {
        $.modal.confirm("确定要释放该资源吗？", function() {
            var id=resId+","+stagId;
            var url = $.common.isEmpty(id) ? $.table._option.removeUrl : $.table._option.removeUrl.replace("{id}",id);
            var data = { "ids": id};
            $.operate.submit(url, "post", "json", data);
        });
    }

    $(function () {
        var options = {
            url: prefix + "/listResource",
            createUrl: prefix + "/add/{id}",
            batchAddUrl:prefix + "/add/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "基站分配",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'resId',
                    title: '资源编号',
                    visible: true
                },
                {
                    field: 'resName',
                    title: '资源名称',
                    sortable: true
                },
                {
                    field: 'resCity',
                    title: '资源所在市',
                    sortable: true,
                    formatter:function(value){
                        return $.table.selectDictLabel(datas, value);
                    }

                },
                {
                    field: 'longitudelatitude',
                    title: '经纬度',
                    sortable: true
                },
                {
                    field: 'stagId',
                    title: '代维驻点编号',
                    sortable: true
                },
                {
                    field: 'taskStatus',
                    title: '巡检状态',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if(row.taskStatus==''||row.taskStatus==null) {
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="distributeResource(\'' + row.resId + '\')"><i class="fa fa-edit"></i>分配资源</a> ');
                        }else {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="remove(\'' + row.resId + '\',\'' + row.stagId + '\')"><i class="fa fa-remove"></i>释放资源</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>