<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.taskinfo.mapper.TaskinfoMapper">
    
    <resultMap type="Taskinfo" id="TaskinfoResult">
        <result property="resId"    column="res_id"    />
        <result property="stagId"    column="stag_id"    />
        <result property="stagName"    column="stag_name"    />
        <result property="taskAuthor"    column="task_author"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="resName"    column="res_name"    />
        <result property="resCity"    column="res_city"    />
        <result property="longitudelatitude"    column="longitudelatitude"/>
</resultMap>
	
	<sql id="selectTaskinfoVo">
        select res_id,task.stag_id as stag_id,task_author,task_status,res_name,longitudelatitude,stag_name
          from (select t.res_id as res_id,stag_id,task_author,task_status,res_name,longitudelatitude from taskinfo t
            LEFT JOIN networkresource n on t.res_id=n.res_id) as task left join
                  stagnationpoint s on task.stag_id=s.stag_id
    </sql>
	
    <select id="selectTaskinfoList" parameterType="Taskinfo" resultMap="TaskinfoResult">
        <include refid="selectTaskinfoVo"/>
        <where>  
            <if test="resId != null  and resId != '' "> and res_id = #{resId}</if>
             <if test="stagId != null  and stagId != ''"> and task.stag_id = #{stagId}</if>
             <if test="stagName != null and stagName != ''"> and stag_name = #{stag_name}</if>
            <if test="resCity != null and resCity != ''"> and res_city = #{resCity}</if>
             <if test="taskStatus != null  and taskStatus != '' "> and task_status = #{taskStatus}</if>
         </where>
    </select>
    
    <select id="selectTaskinfoById" parameterType="String" resultMap="TaskinfoResult">
        <include refid="selectTaskinfoVo"/>
        where task.res_id = #{resId}
    </select>
    <select id="selectDistributeResource" resultMap="TaskinfoResult">
        select n.res_id as res_id,res_name,res_city,longitudelatitude,stag_id,task_author,task_status,enable
         from networkresource n left join taskinfo t on n.res_id=t.res_id
        <where>
            enable =1
            <if test="resId != null  and resId != '' "> and n.res_id = #{resId}</if>
            <if test="stagId != null and stagId != ''"> and stag_id = #{stagId}</if>
            <if test="stagName != null and stagName != ''"> and stag_name = #{stagName}</if>
            <if test="resCity != null and resCity != ''"> and res_city = #{resCity}</if>
            <if test="taskAuthor != null  and taskAuthor != '' "> and task_author = #{taskAuthor}</if>
            <if test="taskStatus != null  and taskStatus != '' "> and task_status = #{taskStatus}</if>
        </where>
    </select>

    <insert id="insertTaskinfo" parameterType="java.util.List">
        insert into taskinfo(res_id,stag_id) values
        <foreach collection="list" item="taskinfo" index="index" separator=",">
            (#{taskinfo.resId},#{taskinfo.stagId})
        </foreach>
    </insert>
	 
    <update id="updateTaskinfo" parameterType="Taskinfo">
        update taskinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="stagId != null  ">stag_id = #{stagId},</if>
            <if test="taskAuthor != null  and taskAuthor != ''  ">task_author = #{taskAuthor},</if>
            <if test="taskStatus != null  and taskStatus != ''  ">task_status = #{taskStatus},</if>
        </trim>
        where res_id = #{resId}
    </update>

    <update id="addStagCountById">
        update stagnationpoint set stag_count=stag_count+1 where stag_id = #{stagId}
    </update>

    <update id="subtractStagCountById">
        update stagnationpoint set stag_count=stag_count-1 where stag_id = #{stagId}
    </update>

    <delete id="deleteTaskinfoById" parameterType="Taskinfo">
        delete from taskinfo where res_id = #{resId} and stag_id = #{stagId}
    </delete>
	
    <delete id="deleteTaskinfoByIds" parameterType="String">
        delete from taskinfo where res_id in 
        <foreach item="resId" collection="array" open="(" separator="," close=")">
            #{resId}
        </foreach>
    </delete>
    
</mapper>